$dark-grey: #22262b;
$medium-grey: #5d636e;
$light-grey: #acb3be;
$light-purple: #bb85d9;
$light-red: #d3747a;
$light-green: #789754;
$terminal-green: #1fee0f;
$light-orange: #ca9a6f;
$light-yellow: #e1bf85;
$light-blue: #587ebb;
$medium-blue: #587ebb;
$vlight-grey: #ebeaeb;
$dark-red: #ee5d55;
$dark-yellow: #f8bd45;
$dark-green: #5eca42;

$break-small: 425px;
$break-medium: 768px;
$break-large: 992px;
